# More Tick Data

In [3]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as md
import numpy as np
import pandas as pd

matplotlib.rcParams[ 'figure.figsize' ] = ( 14, 6 )

In [6]:
quote_file = 'EQY_US_ALL_NBBO_20180117.gz'
trade_file = 'EQY_US_ALL_TRADE_20180117.gz'

file_date = '20180117'

# quotes = pd.read_csv( quote_file )

In [7]:
quotes = pd.read_csv( quote_file, nrows = 10 )
quotes

  Time|Exchange|Symbol|Bid_Price|Bid_Size|Offer_Price|Offer_Size|Quote_Condition|Sequence_Number|National_BBO_Ind|FINRA_BBO_Indicator|FINRA_ADF_MPID_Indicator|Quote_Cancel_Correction|Source_Of_Quote|Best Bid Quote Condition|Best_Bid_Exchange|Best_Bid_Price|Best_Bid_Size|Best_Bid_FINRA_Market_Maker_ID|Best_Offer_Quote_Condition|Best_Offer_Exchange|Best_Offer_Price|Best_Offer_Size|Best_Offer_FINRA_Market_Maker_ID|LULD_Indicator|LULD_NBBO_Indicator|SIP_Generated_Message_Identifier|Participant_Timestamp|FINRA_ADF_Timestamp|Security_Status_Indicator
0  073420032175000|P|A|41.4|1|72|4|R|6082501|U|||...
1  091108000984000|T|A|66.24|1|86.4|2|R|12961801|...
2  091124000697000|T|A|53|2|86.4|2|R|12993101|U||...
3  091124001871000|P|A|58.64|1|72|4|R|12993201|U|...
4  091124001996000|Y|A|58.64|1|76.52|1|R|12993501...
5  091124002029000|B|A|58.64|1|76.52|1|R|12993602...
6  091124002038000|J|A|58.64|1|76.52|1|R|12993701...
7  091124145363000|P|A|56|3|72|4|R|12993801|U||||...
8  091124145458000|Z|A|55.39|1|76.52|1|R|12993901...
9  091124145509000|X|A|55.39|1|76.52|1|R|12994201...

In [8]:
quotes = pd.read_csv( quote_file, sep = '|', nrows = 10 )
quotes.head(10)

,Time,Exchange,Symbol,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition,Sequence_Number,National_BBO_Ind,...,Best_Offer_Exchange,Best_Offer_Price,Best_Offer_Size,Best_Offer_FINRA_Market_Maker_ID,LULD_Indicator,LULD_NBBO_Indicator,SIP_Generated_Message_Identifier,Participant_Timestamp,FINRA_ADF_Timestamp,Security_Status_Indicator
0,73420032175000,P,A,41.40,1,72.00,4,R,6082501,U,...,P,72,4,NaN,NaN,NaN,NaN,73420031991808,NaN,
1,91108000984000,T,A,66.24,1,86.40,2,R,12961801,U,...,P,72,4,NaN,NaN,NaN,NaN,91108000318884,NaN,
2,91124000697000,T,A,53.00,2,86.40,2,R,12993101,U,...,P,72,4,NaN,NaN,NaN,NaN,91124000022708,NaN,
3,91124001871000,P,A,58.64,1,72.00,4,R,12993201,U,...,P,72,4,NaN,NaN,NaN,NaN,91124001682432,NaN,
4,91124001996000,Y,A,58.64,1,76.52,1,R,12993501,U,...,P,72,4,NaN,NaN,NaN,NaN,91124001500000,NaN,
5,91124002029000,B,A,58.64,1,76.52,1,R,12993602,U,...,P,72,4,NaN,NaN,NaN,NaN,91124001311848,NaN,
6,91124002038000,J,A,58.64,1,76.52,1,R,12993701,U,...,P,72,4,NaN,NaN,NaN,NaN,91124001513000,NaN,
7,91124145363000,P,A,56.00,3,72.00,4,R,12993801,U,...,P,72,4,NaN,NaN,NaN,NaN,91124145171456,NaN,
8,91124145458000,Z,A,55.39,1,76.52,1,R,12993901,U,...,P,72,4,NaN,NaN,NaN,NaN,91124144988000,NaN,
9,91124145509000,X,A,55.39,1,76.52,1,R,12994201,U,...,P,72,4,NaN,NaN,NaN,NaN,91124144833905,NaN,

In [ ]:
# usecols parameter (list of names preferably)
quotes = pd.read_csv( quote_file, sep = '|', 
                      usecols = [ 'Time', 'Symbol', 'Bid_Price', 'Bid_Size', 
                                  'Offer_Price', 'Offer_Size', 'Quote_Condition', 'Exchange'],
                      skipfooter=1 )
quotes

In [15]:
# run for a sub set of data
quotes = pd.read_csv( quote_file, sep = '|', 
                      usecols = [ 'Time', 'Symbol', 'Bid_Price', 'Bid_Size', 
                                  'Offer_Price', 'Offer_Size', 'Quote_Condition', 'Exchange'], nrows = 2000 )

In [16]:
quotes.head(5)

,Time,Exchange,Symbol,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition
0,73420032175000,P,A,41.40,1,72.00,4,R
1,91108000984000,T,A,66.24,1,86.40,2,R
2,91124000697000,T,A,53.00,2,86.40,2,R
3,91124001871000,P,A,58.64,1,72.00,4,R
4,91124001996000,Y,A,58.64,1,76.52,1,R

In [17]:
# add an index, converting to appropriate time and  correcting for the missing date.
format = '%Y%m%d%H%M%S%f'
quotes[ 'Time' ] = file_date + quotes[ 'Time' ].astype( str )
times = pd.to_datetime( quotes[ 'Time' ], format = format )
# for now no index, just replace the column
quotes[ 'Time' ] = times
quotes.head()

,Time,Exchange,Symbol,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition
0,2018-01-17 07:34:20.032175,P,A,41.40,1,72.00,4,R
1,2018-01-17 09:11:08.000984,T,A,66.24,1,86.40,2,R
2,2018-01-17 09:11:24.000697,T,A,53.00,2,86.40,2,R
3,2018-01-17 09:11:24.001871,P,A,58.64,1,72.00,4,R
4,2018-01-17 09:11:24.001996,Y,A,58.64,1,76.52,1,R

In [13]:
quotes.head()

,Time,Exchange,Symbol,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition
0,2018011773420032175000,P,A,41.40,1.0,72.00,4.0,R
1,2018011791108000984000,T,A,66.24,1.0,86.40,2.0,R
2,2018011791124000697000,T,A,53.00,2.0,86.40,2.0,R
3,2018011791124001871000,P,A,58.64,1.0,72.00,4.0,R
4,2018011791124001996000,Y,A,58.64,1.0,76.52,1.0,R

In [19]:
# load trades

trades = pd.read_csv( trade_file, sep = '|',  
                      usecols = [ 'Time', 'Symbol', 'Trade Price', 'Trade Volume', 'Sale Condition' ], 
                                  nrows = 2000 )
format = '%Y%m%d%H%M%S%f'
trades[ 'Time' ] = file_date + trades[ 'Time' ].astype( str )
times = pd.to_datetime( trades[ 'Time' ], format = format )
trades[ 'Time' ] = times
#trades.set_index( times, inplace = True )
#trades = trades.drop( [ 'Time' ], axis=1 )
trades

,Time,Symbol,Sale Condition,Trade Volume,Trade Price
0,2018-01-17 09:29:50.009602,A,FTI,25,71.5400
1,2018-01-17 09:30:01.004090,A,O,14777,71.7200
2,2018-01-17 09:30:02.512285,A,I,13,71.6900
3,2018-01-17 09:30:02.573805,A,F I,20,71.5600
4,2018-01-17 09:30:02.602246,A,F I,19,71.5600
5,2018-01-17 09:30:02.659613,A,I,15,71.6700
6,2018-01-17 09:30:06.041263,A,F,100,71.6800
7,2018-01-17 09:30:23.752778,A,I,1,71.6800
8,2018-01-17 09:30:37.474206,A,F I,21,71.6900
9,2018-01-17 09:30:37.474234,A,Q,21,71.6900
10,2018-01-17 09:30:37.542766,A,I,24,71.6899
11,2018-01-17 09:30:37.543035,A,I,24,71.6800
12,2018-01-17 09:30:38.391057,A,F I,29,71.6800
13,2018-01-17 09:30:38.716662,A,I,18,71.6250
14,2018-01-17 09:30:38.717603,A,I,18,71.5601
15,2018-01-17 09:30:39.475114,A,I,39,71.6700
16,2018-01-17 09:30:39.475733,A,I,39,71.6800
17,2018-01-17 09:30:39.477212,A,I,39,71.6899
18,2018-01-17 09:30:39.704913,A,F I,50,71.6800
19,2018-01-17 09:30:40.217717,A,F I,16,71.5900
20,2018-01-17 09:30:40.830447,A,I,6,71.6800
21,2018-01-17 09:30:40.833059,A,I,6,71.6899
22,2018-01-17 09:31:15.853076,A,,100,71.6800
23,2018-01-17 09:31:16.001733,A,,100,71.6800
24,2018-01-17 09:31:16.010967,A,I,3,71.6800
25,2018-01-17 09:31:17.371540,A,I,1,71.6800
26,2018-01-17 09:31:23.993859,A,F,100,71.5900
27,2018-01-17 09:31:23.994006,A,F,100,71.5900
28,2018-01-17 09:31:23.994053,A,F,100,71.5900
29,2018-01-17 09:31:23.994079,A,F I,1,71.5600
...,...,...,...,...,...
1970,2018-01-17 10:22:37.524300,A,,100,72.1900
1971,2018-01-17 10:22:37.524481,A,,200,72.1900
1972,2018-01-17 10:22:52.151717,A,,100,72.1650
1973,2018-01-17 10:22:52.153546,A,,100,72.1650
1974,2018-01-17 10:22:52.155187,A,,100,72.1650
1975,2018-01-17 10:22:57.341726,A,I,46,72.1200
1976,2018-01-17 10:22:57.341753,A,F I,54,72.1200
1977,2018-01-17 10:22:58.390789,A,,100,72.1100
1978,2018-01-17 10:23:04.174288,A,I,37,72.0787
1979,2018-01-17 10:23:06.617488,A,,100,72.0975
1980,2018-01-17 10:23:30.247099,A,I,80,72.1200
1981,2018-01-17 10:23:30.247155,A,F I,3,72.1200
1982,2018-01-17 10:23:30.247174,A,F I,20,72.1200
1983,2018-01-17 10:23:30.247730,A,F I,40,72.1200
1984,2018-01-17 10:23:30.247762,A,F I,60,72.1200
1985,2018-01-17 10:23:30.252849,A,F,100,72.1000
1986,2018-01-17 10:23:30.252874,A,F I,20,72.1000
1987,2018-01-17 10:23:55.725397,A,F I,6,72.1200
1988,2018-01-17 10:24:10.199730,A,,200,72.1000
1989,2018-01-17 10:24:10.199749,A,F,100,72.1000
1990,2018-01-17 10:24:10.829946,A,,100,72.1100
1991,2018-01-17 10:24:44.163849,A,,100,72.0800
1992,2018-01-17 10:24:53.713622,A,I,3,72.1100
1993,2018-01-17 10:25:15.035326,A,F,300,72.0800
1994,2018-01-17 10:25:15.035349,A,F I,55,72.0800
1995,2018-01-17 10:25:15.035444,A,I,27,72.0800
1996,2018-01-17 10:25:15.035477,A,F I,1,72.0800
1997,2018-01-17 10:25:15.035509,A,F I,5,72.0800
1998,2018-01-17 10:25:15.035524,A,F I,18,72.0800
1999,2018-01-17 10:25:15.035547,A,F,100,72.0800

In [20]:
# Enrich trade data with quotes

ticker = 'A'
ticker_quotes = quotes[ quotes[ 'Symbol' ] == ticker ]
ticker_quotes.head(10)
ticker_trades = trades[ trades[ 'Symbol' ] == ticker ]


# merge data
pd.merge_asof( ticker_trades, ticker_quotes, 
               on = 'Time', by = 'Symbol', tolerance = pd.Timedelta( '2000ms' ), allow_exact_matches = False )

,Time,Symbol,Sale Condition,Trade Volume,Trade Price,Exchange,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition
0,2018-01-17 09:29:50.009602,A,FTI,25,71.5400,P,71.30,2.0,71.89,1.0,R
1,2018-01-17 09:30:01.004090,A,O,14777,71.7200,Z,70.93,1.0,72.15,1.0,R
2,2018-01-17 09:30:02.512285,A,I,13,71.6900,Z,71.56,1.0,71.78,1.0,R
3,2018-01-17 09:30:02.573805,A,F I,20,71.5600,X,71.19,10.0,71.91,4.0,R
4,2018-01-17 09:30:02.602246,A,F I,19,71.5600,X,71.42,1.0,72.06,12.0,R
5,2018-01-17 09:30:02.659613,A,I,15,71.6700,X,71.42,1.0,72.06,12.0,R
6,2018-01-17 09:30:06.041263,A,F,100,71.6800,N,71.56,2.0,71.74,1.0,R
7,2018-01-17 09:30:23.752778,A,I,1,71.6800,NaN,NaN,NaN,NaN,NaN,NaN
8,2018-01-17 09:30:37.474206,A,F I,21,71.6900,NaN,NaN,NaN,NaN,NaN,NaN
9,2018-01-17 09:30:37.474234,A,Q,21,71.6900,X,71.57,2.0,71.88,4.0,R
10,2018-01-17 09:30:37.542766,A,I,24,71.6899,X,71.38,9.0,71.88,4.0,R
11,2018-01-17 09:30:37.543035,A,I,24,71.6800,X,71.38,9.0,71.88,4.0,R
12,2018-01-17 09:30:38.391057,A,F I,29,71.6800,X,71.38,9.0,71.88,4.0,R
13,2018-01-17 09:30:38.716662,A,I,18,71.6250,X,71.38,9.0,71.88,4.0,R
14,2018-01-17 09:30:38.717603,A,I,18,71.5601,X,71.38,9.0,71.88,4.0,R
15,2018-01-17 09:30:39.475114,A,I,39,71.6700,X,71.38,9.0,71.88,4.0,R
16,2018-01-17 09:30:39.475733,A,I,39,71.6800,X,71.38,9.0,71.88,4.0,R
17,2018-01-17 09:30:39.477212,A,I,39,71.6899,X,71.57,2.0,71.88,5.0,R
18,2018-01-17 09:30:39.704913,A,F I,50,71.6800,X,71.38,9.0,71.88,5.0,R
19,2018-01-17 09:30:40.217717,A,F I,16,71.5900,X,71.38,9.0,71.88,5.0,R
20,2018-01-17 09:30:40.830447,A,I,6,71.6800,X,71.38,9.0,71.88,5.0,R
21,2018-01-17 09:30:40.833059,A,I,6,71.6899,X,71.38,9.0,71.88,5.0,R
22,2018-01-17 09:31:15.853076,A,,100,71.6800,NaN,NaN,NaN,NaN,NaN,NaN
23,2018-01-17 09:31:16.001733,A,,100,71.6800,N,71.56,2.0,71.74,1.0,R
24,2018-01-17 09:31:16.010967,A,I,3,71.6800,N,71.56,2.0,71.74,1.0,R
25,2018-01-17 09:31:17.371540,A,I,1,71.6800,N,71.56,2.0,71.74,1.0,R
26,2018-01-17 09:31:23.993859,A,F,100,71.5900,NaN,NaN,NaN,NaN,NaN,NaN
27,2018-01-17 09:31:23.994006,A,F,100,71.5900,NaN,NaN,NaN,NaN,NaN,NaN
28,2018-01-17 09:31:23.994053,A,F,100,71.5900,T,71.56,1.0,71.84,2.0,R
29,2018-01-17 09:31:23.994079,A,F I,1,71.5600,X,71.42,3.0,71.68,2.0,R
...,...,...,...,...,...,...,...,...,...,...,...
1970,2018-01-17 10:22:37.524300,A,,100,72.1900,NaN,NaN,NaN,NaN,NaN,NaN
1971,2018-01-17 10:22:37.524481,A,,200,72.1900,NaN,NaN,NaN,NaN,NaN,NaN
1972,2018-01-17 10:22:52.151717,A,,100,72.1650,NaN,NaN,NaN,NaN,NaN,NaN
1973,2018-01-17 10:22:52.153546,A,,100,72.1650,NaN,NaN,NaN,NaN,NaN,NaN
1974,2018-01-17 10:22:52.155187,A,,100,72.1650,NaN,NaN,NaN,NaN,NaN,NaN
1975,2018-01-17 10:22:57.341726,A,I,46,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1976,2018-01-17 10:22:57.341753,A,F I,54,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1977,2018-01-17 10:22:58.390789,A,,100,72.1100,NaN,NaN,NaN,NaN,NaN,NaN
1978,2018-01-17 10:23:04.174288,A,I,37,72.0787,NaN,NaN,NaN,NaN,NaN,NaN
1979,2018-01-17 10:23:06.617488,A,,100,72.0975,NaN,NaN,NaN,NaN,NaN,NaN
1980,2018-01-17 10:23:30.247099,A,I,80,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1981,2018-01-17 10:23:30.247155,A,F I,3,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1982,2018-01-17 10:23:30.247174,A,F I,20,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1983,2018-01-17 10:23:30.247730,A,F I,40,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1984,2018-01-17 10:23:30.247762,A,F I,60,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1985,2018-01-17 10:23:30.252849,A,F,100,72.1000,NaN,NaN,NaN,NaN,NaN,NaN
1986,2018-01-17 10:23:30.252874,A,F I,20,72.1000,NaN,NaN,NaN,NaN,NaN,NaN
1987,2018-01-17 10:23:55.725397,A,F I,6,72.1200,NaN,NaN,NaN,NaN,NaN,NaN
1988,2018-01-17 10:24:10.199730,A,,200,72.1000,NaN,NaN,NaN,NaN,NaN,NaN
1989,2018-01-17 10:24:10.199749,A,F,100,72.1000,NaN,NaN,NaN,NaN,NaN,NaN
1990,2018-01-17 10:24:10.829946,A,,100,72.1100,NaN,NaN,NaN,NaN,NaN,NaN
1991,2018-01-17 10:24:44.163849,A,,100,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1992,2018-01-17 10:24:53.713622,A,I,3,72.1100,NaN,NaN,NaN,NaN,NaN,NaN
1993,2018-01-17 10:25:15.035326,A,F,300,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1994,2018-01-17 10:25:15.035349,A,F I,55,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1995,2018-01-17 10:25:15.035444,A,I,27,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1996,2018-01-17 10:25:15.035477,A,F I,1,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1997,2018-01-17 10:25:15.035509,A,F I,5,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1998,2018-01-17 10:25:15.035524,A,F I,18,72.0800,NaN,NaN,NaN,NaN,NaN,NaN
1999,2018-01-17 10:25:15.035547,A,F,100,72.0800,NaN,NaN,NaN,NaN,NaN,NaN